In [51]:
import findspark

from pyspark.sql.functions import *

In [52]:
findspark.init()

In [53]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [50]:
df_train = spark.read.format("csv")\
.option("header", "True")\
.option("inferSchema","True")\
.load("train_ver2.csv")

In [54]:
df_train.show(10)

+-------------------+---------+------------+---------------+----+---+-------------------+---------+----------+------+--------------+-----------+-----------+-------+------+--------+-------------+-------+-------+--------+-----------+---------------------+------------------+------------------+-----------------+-----------------+----------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----------------+---------------+-----------------+---------------+
|         fecha_dato| ncodpers|ind_empleado|pais_residencia|sexo|age|         fecha_alta|ind_nuevo|antiguedad|indrel|ult_fec_cli_1t|indrel_1mes|tiprel_1mes|indresi|indext|conyuemp|canal_entrada|indfall|tipodom|cod_prov|    nomprov|ind_actividad_cliente|             renta|          segmento|ind_ahor_fin_ult1|ind_aval_fin_ult1|ind_cco_fin_ult1|ind_cder_fin_ult1|ind_cno_fin_ult1|ind_ctju_fin_ult1|ind_ctma_fin_ult1|ind_ctop_fin_ult1|ind_ctpp_fin_ult1|ind_deco_fin_ult1|ind_deme_fin_ult1|ind_dela_fin_ult1|ind_ecue_fin_ult1|ind_fond_fin_ult1|ind_hip_fin_ult1|ind_plan_fin_ult1|ind_pres_fin_ult1|ind_reca_fin_ult1|ind_tjcr_fin_ult1|ind_valo_fin_ult1|ind_viv_fin_ult1|ind_nomina_ult1|ind_nom_pens_ult1|ind_recibo_ult1|
+-------------------+---------+------------+---------------+----+---+-------------------+---------+----------+------+--------------+-----------+-----------+-------+------+--------+-------------+-------+-------+--------+-----------+---------------------+------------------+------------------+-----------------+-----------------+----------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----------------+---------------+-----------------+---------------+
|2015-01-28 00:00:00|1375586.0|           N|             ES|   H| 35|2015-01-12 00:00:00|        0|         6|     1|          null|        1.0|          A|      S|     N|    null|          KHL|      N|      1|      29|     MALAGA|                    1|           87218.1| 02 - PARTICULARES|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28 00:00:00|1050611.0|           N|             ES|   V| 23|2012-08-10 00:00:00|        0|        35|     1|          null|          1|          I|      S|     S|    null|          KHE|      N|      1|      13|CIUDAD REAL|                    0|          35548.74|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28 00:00:00|1050612.0|           N|             ES|   V| 23|2012-08-10 00:00:00|        0|        35|     1|          null|          1|          I|      S|     N|    null|          KHE|      N|      1|      13|CIUDAD REAL|                    0|122179.11000000002|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28 00:00:00|1050613.0|           N|             ES|   H| 22|2012-08-10 00:00:00|        0|        35|     1|          null|          1|          I|      S|     N|    null|          KHD|      N|      1|      50|   ZARAGOZA|                    0|         119775.54|03 - UNIVERSITARIO|                0|                0|               0|                0|               0|                0|                0|                0|                0|                1|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28 00:00:00|1050614.0|           N|             ES|   V| 23|2012-08-10 00:00:00|        0|        35|     1|          null|          1|          A|      S|     N|    null|          KHE|      N|      1|      50|   ZARAGOZA|                    1|              null|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28 00:00:00|1050615.0|           N|             ES|   H| 23|2012-08-10 00:00:00|        0|        35|     1|          null|          1|          I|      S|     N|    null|          KHE|      N|      1|      45|     TOLEDO|                    0|          22220.04|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28 00:00:00|1050616.0|           N|             ES|   H| 23|2012-08-10 00:00:00|        0|        35|     1|          null|          1|          I|      S|     N|    null|          KHE|      N|      1|      24|       LEON|                    0|         295590.36|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28 00:00:00|1050617.0|           N|             ES|   H| 23|2012-08-10 00:00:00|        0|        35|     1|          null|          1|          A|      S|     N|    null|          KHE|      N|      1|      50|   ZARAGOZA|                    1|         113316.66|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28 00:00:00|1050619.0|           N|             ES|   H| 24|2012-08-10 00:00:00|        0|        35|     1|          null|          1|          I|      S|     N|    null|          KHE|      N|      1|      20|   GIPUZKOA|                    0|              null|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28 00:00:00|1050620.0|           N|             ES|   H| 23|2012-08-10 00:00:00|        0|        35|     1|          null|          1|          I|      S|     N|    null|          KHE|      N|      1|      10|    CACERES|                    0|         113194.98|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
+-------------------+---------+------------+---------------+----+---+-------------------+---------+----------+------+--------------+-----------+-----------+-------+------+--------+-------------+-------+-------+--------+-----------+---------------------+------------------+------------------+-----------------+-----------------+----------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----------------+---------------+-----------------+---------------+
only showing top 10 rows

In [55]:
#Informações sobre dataset
df_train.printSchema()

root
 |-- fecha_dato: timestamp (nullable = true)
 |-- ncodpers: double (nullable = true)
 |-- ind_empleado: string (nullable = true)
 |-- pais_residencia: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- age: string (nullable = true)
 |-- fecha_alta: timestamp (nullable = true)
 |-- ind_nuevo: string (nullable = true)
 |-- antiguedad: string (nullable = true)
 |-- indrel: string (nullable = true)
 |-- ult_fec_cli_1t: timestamp (nullable = true)
 |-- indrel_1mes: string (nullable = true)
 |-- tiprel_1mes: string (nullable = true)
 |-- indresi: string (nullable = true)
 |-- indext: string (nullable = true)
 |-- conyuemp: string (nullable = true)
 |-- canal_entrada: string (nullable = true)
 |-- indfall: string (nullable = true)
 |-- tipodom: string (nullable = true)
 |-- cod_prov: string (nullable = true)
 |-- nomprov: string (nullable = true)
 |-- ind_actividad_cliente: string (nullable = true)
 |-- renta: double (nullable = true)
 |-- segmento: string (nullable = true)
 |-- ind_ahor_fin_ult1: integer (nullable = true)
 |-- ind_aval_fin_ult1: integer (nullable = true)
 |-- ind_cco_fin_ult1: integer (nullable = true)
 |-- ind_cder_fin_ult1: integer (nullable = true)
 |-- ind_cno_fin_ult1: integer (nullable = true)
 |-- ind_ctju_fin_ult1: integer (nullable = true)
 |-- ind_ctma_fin_ult1: integer (nullable = true)
 |-- ind_ctop_fin_ult1: integer (nullable = true)
 |-- ind_ctpp_fin_ult1: integer (nullable = true)
 |-- ind_deco_fin_ult1: integer (nullable = true)
 |-- ind_deme_fin_ult1: integer (nullable = true)
 |-- ind_dela_fin_ult1: integer (nullable = true)
 |-- ind_ecue_fin_ult1: integer (nullable = true)
 |-- ind_fond_fin_ult1: integer (nullable = true)
 |-- ind_hip_fin_ult1: integer (nullable = true)
 |-- ind_plan_fin_ult1: integer (nullable = true)
 |-- ind_pres_fin_ult1: integer (nullable = true)
 |-- ind_reca_fin_ult1: integer (nullable = true)
 |-- ind_tjcr_fin_ult1: integer (nullable = true)
 |-- ind_valo_fin_ult1: integer (nullable = true)
 |-- ind_viv_fin_ult1: integer (nullable = true)
 |-- ind_nomina_ult1: string (nullable = true)
 |-- ind_nom_pens_ult1: string (nullable = true)
 |-- ind_recibo_ult1: integer (nullable = true)

In [56]:
#Mudar tipo do dado
df_train = df_train.withColumn(
    colName = 'age', 
    col = regexp_replace('age',',','.').cast('int')
    )

# Inspecionando o resultado
df_train.select('age').printSchema()

root
 |-- age: integer (nullable = true)

In [57]:
df_train = df_train.withColumn(
    colName = 'antiguedad', 
    col = regexp_replace('antiguedad',',','.').cast('int')
    )

# Inspecionando o resultado
df_train.select('antiguedad').printSchema()

root
 |-- antiguedad: integer (nullable = true)

In [58]:
df_train = df_train.withColumn(
    colName = 'indrel_1mes', 
    col = regexp_replace('indrel_1mes',',','.').cast('int')
    )

# Inspecionando o resultado
df_train.select('indrel_1mes').printSchema()

root
 |-- indrel_1mes: integer (nullable = true)

In [59]:
#Excluir colunas com maioria nulos
df_train=df_train.drop('conyuemp')
df_train=df_train.drop('ult_fec_cli_1t')

In [60]:
#Tratar nulos de segmento
df_train = df_train.na.fill("02 - PARTICULARES",subset=["segmento"])

In [61]:
df_train.groupBy("segmento").count().sort(desc("count")).show()

+------------------+-------+
|          segmento|  count|
+------------------+-------+
| 02 - PARTICULARES|8149588|
|03 - UNIVERSITARIO|4935579|
|          01 - TOP| 562142|
+------------------+-------+

In [62]:
#Media da idade
mean_ = df_train.agg({'age': 'avg'}).show()

#tratar nulos
df_train = df_train.na.fill(40.18146491355274,subset=["age"])

+-----------------+
|         avg(age)|
+-----------------+
|40.18146491355274|
+-----------------+

In [63]:
df_train.groupBy("age").count().sort(desc("count")).show()

+---+------+
|age| count|
+---+------+
| 23|779884|
| 22|736314|
| 24|734785|
| 21|675988|
| 25|472016|
| 20|422867|
| 26|347778|
| 43|324303|
| 44|322955|
| 42|319713|
| 40|315488|
| 45|314771|
| 41|309051|
| 46|299365|
| 47|286505|
| 27|281981|
| 48|271576|
| 39|260548|
| 49|250484|
| 28|240192|
+---+------+
only showing top 20 rows

In [64]:
df_train = df_train.na.fill("V",subset=["sexo"])
df_train.groupBy("sexo").count().sort(desc("count")).show()

+----+-------+
|sexo|  count|
+----+-------+
|   V|7452056|
|   H|6195253|
+----+-------+